
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>My routing app!</title>

		<style>
			body { padding-top:50px; }
		</style>

		<!-- Establecer el path base para el routing angular -->
		<!-- <base href="/"> -->
		<base href="PATH_HERE" />
 
		<!-- Cargar CSS bootstrap, font-awsome -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- cargar angular touting via CDN -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.js"></script>
		<script src="javascripts/routingAngularApp.js"></script>


		
		<!-- <script src="javascripts/app.router.js"></script> -->

		<!-- cargar los custom angular app files -->

	
	</head>

	<body class="container" ng-app="routerApp" ng-controller="mainController">
	<!-- ng-controller="mainController as main" -->

		<header>
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Angular Routing Example</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href='home'>
							<li class="fa fa-home"></li>
							Home
						</a>
					</li>
					<li>
						<a href="about">
							<li class="fa fa-shield"></li>
							About
						</a>
					</li>
					<li>
						<a href="contact">
							<li class="fa fa-comment"></li>
							Contact
						</a>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Contenido principal e inyección de vistas-->
		<main>
			<!-- Templating angular aqui irá -->
			<!-- Aquí es donde el contenido irá inyectado -->

			<div class="jumbotron text-center">
				<h1>Main Page</h1>
				<p>{{bigMessage}}</p>
			</div>
 
			<ng-view></ng-view>

				<!-- <div class="jumbotron text-center">
					<h1>Home Page</h1>
					<p>{{home.message}}</p>
				</div>

				<div class="jumbotron text-center">
					<h1>About Page</h1>
					<p>{{about.message}}</p>
				</div>

				<div class="jumbotron text-center">
					<h1>Contact page</h1>
					<p>{{contact.message}}</p>
				</div> -->

		
			
		</main>
	

	</body>
</html>




