<!DOCTYPE html>
<html lang="en"> 
	<head>
		<meta charset="UTF-8"> 
		<title>AVV</title>	
  
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="google-signin-scope" content="profile email">
    	<meta name="google-signin-client_id" content="274208808468-fu2383e453bs2eseucr8e8ncup59dl2h.apps.googleusercontent.com">
   		<script src="https://apis.google.com/js/platform.js" async defer></script>
		
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">

		<script src="javascripts/jquery-1.11.3.min.js"></script>
		<script src="javascripts/angular.min.js"></script>
		<script src="javascripts/AngularJS.js"></script> 
		<script src="javascripts/API_FB.js"></script> 
		<script src="javascripts/API_GOOGLE.js"></script> 
		<script src="javascripts/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>
		
  

	</head>

	<body id="body" ng-app="myApp" ng-controller="mainController as main">

		<div class="container" id="mainPage">
			<div class="jumbotron text-center">
				<h1>{{main.message}}</h1>

			</div>
			<img id="imgUser" ng-src="{{main.picture}}" ng-if="main.picture"/>
			<br>
			<div class="row">
				<div class="col-sm-4"></div>
  				<div class="col-sm-4">
					<button type="button" class="btn btn-info btn-lg center-block btn-block" data-toggle="modal" ng-href="#SignUp" ng-show="main.showCrearCuenta">Crear cuenta</button>
					<button type="button" style="float:right" class="btn btn-danger btn-lg center-block btn-block" ng-if="main.cerrarSesionB" ng-click="logOut()">Cerrar sesion</button>
				</div> 
			</div>
			<br>
			<div class="row">
				<div class="col-sm-4"></div>
  				<div class="col-sm-4">
					<button type="button" class="btn btn-success btn-lg center-block btn-block" data-toggle="modal" data-target="#SignIn" ng-show="main.showIniciarSesion">Iniciar sesion</button>
				</div>
			</div>
  

	<!-- Modals Crear cuenta-->

			<div class="modal fade" id="SignUp" role="dialog">
			    <div class="modal-dialog modal-lg">

			      <!-- Modal content-->
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Ingresa los datos</h4>
			        </div>
			        <div class="modal-body">

			        	<form name="myForm" class="form-group">
			        		<label for="email"><strong>UserName:</strong></label>
					        <input type="text" name="UserName" class="form-control" ng-model="main.UserName_CrearCuenta" placeholder="Ingresa Nombre" required>
					        <br>
							<label for="email"><strong>Email:</strong></label>
					        <input type="email" name="email" class="form-control" ng-model="main.email_CrearCuenta" placeholder="Ingresa Email" required>
					        <br>
					        <label for="password"><strong>Contraseña:</strong></label>
					        <input type="password" name="password" class="form-control" ng-model="main.password_CrearCuenta"  placeholder="Ingresa contraseña" required>
					        <br>
					        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="signUpLocal()">Submit</button>
							<br>
					    	<div class="alert alert-warning fade in" ng-show="myForm.email.$invalid && myForm.email.$touched" >
			    				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			    				<strong>Alerta!</strong> Debes llenar todos los campos.
			 				</div>
		 				<form>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        </div>
			      </div>

			    </div>
			</div>

			<p>{{main.type}}</p>
			<br>



	<!--Modal Iniciar sesion-->
			<div class="modal fade" role="dialog" id="SignIn">
			    <div class="modal-dialog modal-lg">
			    
			      <!-- Modal content-->
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Ingresa los datos</h4>
			        </div>
			        <div class="modal-body">
			        	<br>
				        <button class="btn btn-success btn-lg center-block btn-block" data-toggle="modal" ng-href="#SignIn2" data-dismiss="modal">Iniciar sesion</button>
				        <br>
				        <!-- <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false" onlogin="checkLoginState()"></div> -->
						<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="checkLoginState()" >Iniciar sesion con Facebook</button>
						<br>
						<!-- <button type="button" class="btn btn-danger btn-lg btn-block" ng-click="" >Iniciar sesion con Google</button> -->

						<div class="g-signin2" data-onsuccess="onSignIn" style="display: table;margin-right: auto;margin-left: auto; " ></div>
						<img id="myImage" src="">
						<br>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-default; text-align: center;" data-dismiss="modal">Close</button>
			        </div>
			      </div>

			    </div>
			</div>

			<div class="modal fade" id="SignIn2" role="dialog">
			    <div class="modal-dialog modal-lg">
			    
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Ingresa los datos</h4>
			        </div>
			        <div class="modal-body">

				    	<div class="form-group">
				    		<label for="username"><strong>Email:</strong></label>
				        	<input  type="text" name="username" class="form-control" ng-model="main.email_IniciarSeSion" placeholder="Ingresa email" required/>
				    	</div>
				    	<div class="form-group">
				        	<label for="password"><strong>Contraseña:</strong></label>
				        	<input type="password" name="password" class="form-control" ng-model="main.password_IniciarSeSion" placeholder="Ingresa contraseña" required/>
				    	</div>
 
				        <br>
				    	<!-- <div class="alert alert-warning fade in" id="emptyFields2">
		    				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		    				<strong>Alerta!</strong> Debes llenar todos los campos.
		 				</div> -->

				    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click=logInLocal()>Submit</button>
		  
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        </div>
			      </div>
			      
			    </div>
			</div>



	<!--Test Code-->	
  
	    <br><br><hr>
	    <!-- <h4>Obtener usuarios:</h4> -->
	    <div class="btn-group">
	    	<button type="button" class="btn btn-primary" ng-click="getUsers()">Get users</button>
	    	<button type="button" class="btn btn-primary" ng-click="getSessions()">Get sessions</button>
	    	<button type="button" class="btn btn-primary" ng-click="testB()">Send Token</button>

	    </div>
	    <br><hr>
	    <!-- <img src="https://mail.google.com/mail/u/0/?logout&hl=en" /> -->
	    <div id="usersContent">
			<table class="table table-hover" id="tableContent">
			<!-- <button type="button" class="btn btn-default" id="deleteUser">Delete users</button> -->
		    </table>
		    <h2 id="noContentTable"></h2>
	    </div> 
	    <!-- <button class="btn btn-danger" id="deleteUser">Eliminar</button> -->
	    <table>
			<tr ng-repeat="x in main.Users">
				<td>{{x.username}}</td>
				<td>{{x.email}}</td>
				<td>{{x.type}}</td>
			</tr>
		</table>
		
		<br><hr>
		<!-- <p>{{main.Users}}</p> -->
		<!-- <p >{{main.Sessions}}</p> -->
		<table>
			<tr ng-repeat="x in main.Sessions">
				<td>{{x.user_id}}</td>
				<td>{{x.active}}</td>
				<td>{{x.type}}</td>
			</tr>
		</table>

		<!-- <div my-Directive></div> -->
		<div ng-bind-html="main.myButton"></div>

		<div id="status">
		</div>

		</div>

	</body>

</html>

<!-- 
segunda etapa:
Tengo que realizar la parte de inicio sesion.
1. Cuando un usuario haga un sign in LOCAL debo de validar password y crear token. 
2. Cuando haga sign in con FB debo: 
	I) Checar si esa cuenta ya existe en mi BD (email, username, etc), esto es, que el email de FB no exita 	en mi BD (usuario local)
   II) Validar el oauth_token de FB (ya lo hace).. y crear sesión si sí es valido
  III) Crear token si el oauth_token es valido

Debo crear una nueva tabla/documento en donde vengas los datos de inicio de sesion, como:
	- type -> indica la forma en que el usuario está ingresando al sistema (local o FB)
	- token -> Es el string que se genera una vez que se valide al usuario, todos deben tener token 
			   (los usuarios con cuenta local y los de FB)
	- user_id -> Este id es el del usuario, y se obtiene de la tabla/doc Users y es usado para relación de 				 datos entre tablas
	- oauth_token -> este string es el de incio de sesión con fB (para sign in local es null). Este token se 				  debe validar con FB (servidorLocal-servidor-FB)... una vez validado se almacena
	- id -> se genera automaticamente por cada sesión creada


Crear un endpointde nombre: POST /sessions
Donde de input siempre va a hacer -> email/password (local) || oauth_token (FB)
Y de salida siempre se va a retornar un token local

Crear una función: decipher_token() que reciba un token (input) y como salida me retorne el user_id y el oaut_token. Esta función desencripta el token local para obtener otros parametros de la BD 

NOTA: Para lo usuarios que iniciaron sesión con FB, se les entrega un token local, que por cada peticón hecha a mi servidor debo validar ese token (desencrptarlo para tomar id de usuario) y posteriormente validar con FB el oauth_token que se tiene almacenado en la DB 

NOTA: quitar del sign up la opción de FB. Esa debe ir en sign in... puesto que si el usuario desea iniciar sesión con FB, la cuenta se debe crear automaticamente y gusrdar registro en mi servidor (ya lo hace, solo cambiar)
 -->









