	
	body{
		background-color: white
	}

/*	table, th, td{
		border: 1px solid black;
		border-collapse: collapse; 
	}

	th, td {
		padding: 15px;
	}

	td{
		color: blue;
		text-align: center
	}
*/

	table, th , td {
	  border: 1px solid grey;
	  border-collapse: collapse;
	  padding: 5px;
	}
	table tr:nth-child(odd) {
	  background-color: #f1f1f1;
	}
	table tr:nth-child(even) {
	  background-color: #ffffff;
	}

	#noContentTable{
		color:grey;
		text-align: center;
	}

	h4, h3{
		color:#0000ff;
		text-align: center
	}

	.jumbotron{
		background-color: #e6e6e6;
		color:black;
	}

	#deleteUser{
		float: right;
	}

	#SignUp, #SignIn{
		float: center;
		position: absolute;

	}

	#body{
		background-color: white
	}

	.centerItem{
		display: block;
   	 	margin-left: auto;
    	margin-right: auto 
	}

	#imgUser {
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 100px;
		height: 100px;
	}

	


